apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:{{ prometheus_port }}  # get by container name
    isDefault: true
    uid: prometheusdatasource
